@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

/* ================ Home ================ */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
}

.home .main {
  width: 370px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home .main .field {
  min-height: 42px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #1414141a;
  border-radius: 6px;
}

.home .main .field .main-field{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .main .field .checkbox {
  max-width: 23px;
  max-height: 23px;
  cursor: pointer;
}

.home .main .field .options-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
}

.home .main .field .options-container.show {
  max-height: 500px;
}

.home .main .field .options-container.hide {
  max-height: 0;
}

.home .main .field .options{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0px;
  margin: 15px 0;
  border-top: 1px solid #CDCDCD;
  border-bottom: 1px solid #CDCDCD;
}

.home .main .field .options .option{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .main .field .button{
  background-color: #FFCE22;
  height: 40px;
  min-height: 40px;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}
